<h1>Bookings</h1>

<table ng-show="bookings.length > 0" class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Project</th>
        <th>Description</th>
        <th ng-show="canSeeUserRow()">User</th>
        <th ng-show="canEditBooking()">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="booking in bookings">
        <td>
            {{ booking.start | asDate | date:'dd.MM.yyyy'}}
        </td>
        <td>
            {{ booking.start | asDate | date:'HH:mm'}}
        </td>
        <td>
            {{ booking.end | asDate | date:'HH:mm'}}
        </td>
        <td>
            <span class="label label-default" tooltip="{{booking.project.description}}">{{ booking.project.project_id }}</span>
        </td>
        <td>
            {{ booking.description }}
        </td>
        <td ng-show="canSeeUserRow()">
            {{ booking.user.firstName }} {{ booking.user.lastName }}
        </td>
        <td ng-show="canEditBooking()">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span class="glyphicon glyphicon-edit"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="editBooking(booking)"><span class="glyphicon glyphicon-edit"></span> Edit booking</a></li>
                    <li><a ng-click="deleteBooking(booking)"><span class="glyphicon glyphicon-trash"></span> Delete booking</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<pagination ng-show="totalItems > 10" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>

<h3 ng-show="canCreateBooking()">Add new Booking</h3>

<form ng-show="canCreateBooking()" name="bookingForm" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
            <p class="input-group">
                <input type="text" id="inputDate" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="newBookingDate" ng-required="true" close-text="Close" is-open="opened" starting-day="1"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStart" class="col-sm-2 control-label">Time</label>
        <div class="col-sm-5">
            <timepicker id="inputStart" ng-model="newBookingStart" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
        </div>
        <div class="col-sm-5">
            <timepicker id="inputEnd" ng-model="newBookingEnd" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="inputProject" class="col-sm-2 control-label">Project</label>
        <div class="col-sm-10">
            <select id="inputProject" class="form-control" ng-model="newBooking.project"
                    ng-options="project._id as project.formattedName for project in projects" required>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDescription" placeholder="Your description..." required maxlength="75" ng-model="newBooking.description"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" ng-disabled="bookingForm.$invalid" ng-click="saveNewBooking()"><span class="glyphicon glyphicon-time"></span> Create new Booking</button>
        </div>
    </div>
</form>
