<div class="jumbotron">
  <h1 ng-show="principal">Welcome {{ principal.firstName }} {{ principal.lastName }}!</h1>
  <h1 ng-hide="principal">timax.js</h1>
  <p class="lead">
    <img src="images/clock-huge.png"><br>
    A day without time tracking is like a day without sunshine.
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-show="principal" href="#/bookings"><span class="glyphicon glyphicon-heart"></span> Let's go!</span></a>
    <a class="btn btn-lg btn-success" ng-hide="principal" ng-click="showLoginDialog()"><span class="glyphicon glyphicon-user"></span> Logon!</span></a>
  </p>
</div>
